@*@using System.Web.Optimization;
    @using SEMYPROJECT.Public;

    @Scripts.Render(VirtualPathStrings.jQuery)  *@
@* Razor for .cshtml : procceeded by an @@ *@

@{ int i, j, k, sum;
    i = 99;
    j = -1;
    k = 1;
    sum = 0;
    string name = " Zahidul alam";
    string sex = "male";
    int age = 22;
    sum = i + j;
}

<b> Sum = @sum</b>
@if (sex == "male")
{
    <b>Welcome genteleman @name</b>


}
else
{
    <b>Welcome Ms , @name</b>
}


<hr />


@if (age < 20)
{
    <b> You are ypung </b>
}
else
{
    <b> youre old</b>
}


<hr />
Welcome a person by Viewbag!! <br /> </br>
@{ 
    User1 u = ViewBag.Xuser as User1;
}
Welcome ! Your information is :<br />
name:@u.user<br />
password:@u.pwd<br />
age: @u.age<br />

@{ 
    int nh = DateTime.Now.Hour;
}


           <div class="container">
               <div class="row">
                   <div class="col-md-2">
                       Time:
                   </div>
                   <div class="col-md-10">
                       @DateTime.Now.ToString("t")
                       <br />
                       @DateTime.Now.ToString("T")
                   </div>

                   <div class="col-md-2">
                       Date:
                   </div>
                   <div class="col-md-10">
                       @DateTime.Now.ToString("d")
                       <br />
                       @DateTime.Now.ToString("D")
                   </div>

               </div>


               @*for each row there is 12 col if i take 4 col in 1st div i can take no more than 8 col*@
               <div class="row">
                   <div class="col-md-4">
                     Welcome:
                   </div>
                   <div class="col-md-8">
                       @if (nh < 12 && nh>6)
                       {
                           <span>Good morning</span>
                       }
                       else if (nh < 13 && nh > 12)
                       {
                           <span>Good noon</span>
                       }
                       else if (nh < 18 && nh > 13)
                       {
                           <span>Good afternoon!</span>
                       }
                       else
                       {
                           <span>Good eve/night</span>
                       }
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-1">
                       List:
                   </div>
                   <div class="col-md-11">
                       @{ 
                           List<string> list = new List<string>();
                           for (int x=1; x <= 16; x++)
                           {
                               list.Add($"Item{x:d2}");
                           }
                       }
                       <h3>Use foreach-loop:</h3>
                       <ol>
                           @foreach (string e in list)
                           { 
                           <li>@e</li>
                           }
                       </ol>

                   </div>
               </div>
              
