@*  @model SEMYPROJECT.Models.Student   *@
@model SEMYPROJECT.ViewModels.EditableStudent

@* @{
        ViewBag.Title = "Edit";
    }

    <h2>Edit</h2>

*@

@if (Model.SNo == null)
{
    ViewBag.Title = "Create Student";
}
else
{
    ViewBag.Title = $"Edit Student for {Model.SName}";
}

<h2>@ViewBag.Title</h2>

@*★ We have two image files for Avatar and Photo to upload,
          new { enctype = "multipart/form-data" }
    ★*@
@using (Html.BeginForm("Edit", "Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4> Student</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*Html.HiddenFor(model => model.SNo)*@
    @*for both edit and create*@
    @if (ViewBag.Title == "Create Student") //Model.SNo == null
    {
    <div class="form-group">
        @Html.LabelFor(model => model.SNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.LabelFor(model => model.SNo, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SNo   , "", new { @class = "text-danger" })
        </div>
     </div>
     }


    else
    {

    }






    </div>



}
@*       <div class="form-horizontal">
            @*<h4>Student</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


  

            {

                <div class="form-group">
                    @Html.LabelFor(model => model.SName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SName, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>*@

