<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")  *@

    @Styles.Render(VirtualPathStrings.BootstrapCss)
    @Scripts.Render(VirtualPathStrings.Modernizr)

    <style>
         img#yzu {
            width: 100%;
            height: 10vw;
        }
        /* class="img-responsive center-block "*/
        
    </style>
</head>
<body>
    <div class="container ">
        <img id="yzu" src="~/images/yzu2.jpg" />
    </div>

    <div class="navbar navbar-inverse ">
        @*removed from avobe : navbar-fixed-top*@
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SEMYPROJECT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Submit", "Submit2", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @* @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render(VirtualPathStrings.jQuery)
    @Scripts.Render(VirtualPathStrings.Bootstrap)
    @RenderSection("scripts", required: false)
</body>
</html>
