@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style type="text/css">

        img#yzu {
            width: 100%;
            height: 10vw;
        }
        /* class="img-responsive center-block "*/




        b {
            color: red;
        }

        .red {
            color: red;
            font-weight: bold;
        }

        body {
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .leftMenu {
            margin-right: -15px;
            padding-bottom: 0;
        }

            .leftMenu :first-child {
                margin-top: 0;
            }

            .leftMenu .list-group {
                margin-bottom: 0;
                border-radius: 0;
            }

            .leftMenu .list-group-item {
                font-size: 14px;
                margin-left: -34px;
                margin-right: -34px;
                padding-top: 7px;
                padding-bottom: 7px;
            }

                .leftMenu .list-group-item:first-child {
                    margin-top: -15px;
                }

                .leftMenu .list-group-item:last-child {
                    margin-bottom: -15px;
                }

                .leftMenu .list-group-item:hover {
                    background-color: #fbe77a;
                    color: red;
                }

                .leftMenu .list-group-item:focus {
                    color: red;
                }
    </style>

    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.8.3.js"></script> * @
    @Styles.Render(VirtualPathStrings.jQueryUICss)
    @Styles.Render(VirtualPathStrings.BootstrapCss)
    @Scripts.Render(VirtualPathStrings.Modernizr)
    @Scripts.Render(VirtualPathStrings.jQuery)
    @Scripts.Render(VirtualPathStrings.Bootstrap)
    @Scripts.Render(VirtualPathStrings.jQueryUI)
    @Scripts.Render(VirtualPathStrings.jQueryAjax)
    @*  @Scripts.Render(VirtualPathStrings.jQueryValidate)*@
     
    
    @* 1st way  *@
            @Scripts.Render(VirtualPathStrings.jQuery)
            @Scripts.Render(VirtualPathStrings.jQueryAjax)
            @Scripts.Render(VirtualPathStrings.jQueryUI)
            @Scripts.Render(VirtualPathStrings.jQueryValidate)
            @Scripts.Render(VirtualPathStrings.Modernizr)

            @RenderSection("scripts", required: false)


            @*REMEMBER THESE TWO ARE STYLES NOT SCRIPT I WAS STUCKED 1 DAY FOR THIS PROBLEM *@
        @Styles.Render(VirtualPathStrings.jQueryUICss)
        @Styles.Render(VirtualPathStrings.BootstrapCss)

    

    @* 2ND WAY

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery/unobtrusive-ajax")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/ bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/Content/themes/base/jquery-ui")
        @Styles.Render("~/Content/css")
    *@

    @* 3RD WAY

        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.js")" type="text/javascript"></script>

    *@


    @* settings for ajax*@
    @{
        var ajaxOptions = new AjaxOptions

        {
            LoadingElementId = "loading",
            UpdateTargetId = "mainWindow",
            OnFailure = "OnFailure",

        };
        //ViewContext.HttpContext.Session["Ajax"] = ajaxOptions;
    }





</head>
<body>
    <div class="container ">
        <img id="yzu" src="~/images/yzu2.jpg" />
    </div>

    <div class="navbar navbar-inverse ">
        @*removed from avobe : navbar-fixed-top*@
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SEMYPROJECT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Submit", "Submit2", "Home")</li>
                    <li> @Html.ActionLink("Area1st", "Index", "Testinfo", new { area = "Area1st", id = "" }, null)</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li> @Html.ActionLink("Return Home", "Index", "Home", new { area = "", id = "" }, null)</li>
                </ul>
                <ul id="loading" class="nav navbar-text navbar-right" style="display:none;color:white;">(it's loading by ajax)</ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="col-md-3">
            <div class="leftMenu panel panel-success">
                <h3 class="btn-success">The sixth class</h3>
                <div class="list-group">
                    @Ajax.ActionLink("Razor    (ajax)", "Index", "Testinfo", new { area = "Area1st", id = "TestRazor" }, ajaxOptions, new { @class = "list-group-item" })
                    @Ajax.ActionLink("Index    (ajax)", "Index", "Testinfo", new { area = "Area1st", id = "Index" }, ajaxOptions, new { @class = "list-group--item" })
                    @Ajax.ActionLink("Index1   (ajax)", "Index", "Testinfo", new { area = "Area1st", id = "Index1" }, ajaxOptions, new { @class = "list-group-item" })
                    @Ajax.ActionLink("Index2   (ajax)", "Index", "Testinfo", new { area = "Area1st", id = "Index2" }, ajaxOptions, new { @class = "list-group-item" })
                    @Ajax.ActionLink("Bootstrap(ajax)", "Index", "Testinfo", new { area = "Area1st", id = "Bootstrap" }, ajaxOptions, new { @class = "list-group-item" })

                    @Html.ActionLink("Razor    html", "Index", "Testinfo", new { area = "Area1st", id = "TestRazor" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Index    html", "Index", "Testinfo", new { area = "Area1st", id = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Index1   html", "Index", "Testinfo", new { area = "Area1st", id = "Index1" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Index2   html", "Index", "Testinfo", new { area = "Area1st", id = "Index2" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Bootstrap html", "Index", "Testinfo", new { area = "Area1st", id = "Bootstrap" }, new { @class = "list-group-item" })
                </div>

                <h3 class="btn-success">The 3rd class</h3>
                <div class="list-group">

                </div>
            </div>

        </div>

        @*main content of the body*@
        <div class="col-md-9">
            <div id="mainWindow" style="border:1px solid lightblue; margin-top:10px;padding:10px;overflow-y:auto;overflow-x:hidden;">
                @RenderBody()

            </div>



        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script>
        //jquery function
        // or we can use it same-- $(document).ready(function){...... }
        $(function () {
            let menu = $(".leftMenu");//select class = leftmenu elements
            //call jquery function .accordion
            menu.accordion({ heightStyle: "content", collapsible: true });
            $("#mainWindow").css({ minHeight: menu.height })


        });
        function OnFailure(xhr) {
            $("body").html(xhr.responseText);
        }



    </script>

</body>
</html>
