@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render(VirtualPathStrings.BootstrapCss)
    @Scripts.Render(VirtualPathStrings.Modernizr)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MainHOme", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li> @Html.ActionLink("Index4Area", "Index", "Testinfo", new { area = "Area1st", id = "" }, null)</li>
                    <li> @Html.ActionLink("Test razor", "Index", "Testinfo", new { area = "Area1st", id = "TestRazor" }, null)</li>
                    <li> @Html.ActionLink("Index 1", "Index", "Testinfo", new { area = "Area1st", id = "Index1" }, null)</li>
                    <li> @Html.ActionLink("Index 2", "Index", "Testinfo", new { area = "Area1st", id = "Index2" }, null)</li>
                    <li> @Html.ActionLink("Bootstrap", "Index", "Testinfo", new { area = "Area1st", id = "Bootstrap" }, null)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            @* we can also use @ViewContext.RouteData.DataTokens["area"] both are same*@
            a-1:@ViewContext.RouteData.DataTokens["area"]


            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            area: <b>@ViewContext.RouteData.DataTokens["area"]</b><br />
            controller:<b> @ViewContext.Controller.ControllerContext.RouteData.Values["controller"].ToString()</b><br />
            Action: <b> @ViewContext.Controller.ControllerContext.RouteData.Values["action"].ToString()</b><br />
            Id: <b> @ViewContext.Controller.ControllerContext.RouteData.Values["id"] as string</b>
        </footer>
    </div>
    @*
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    *@
    @Scripts.Render(VirtualPathStrings.jQuery)
    @Scripts.Render(VirtualPathStrings.Bootstrap)
    @RenderSection("scripts", required: false)
</body>
</html>